/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font styling for the entire HTML document */
@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }
}

/* Background clip text styling */
.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

/* Background styles for different sections */
.bg-nav,
.bg-about,
.bg-contact,
.bg-tools {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-nav, .bg-tools {
  background-image: linear-gradient(
    to right,
     rgba(0, 0, 0, 0.9), #001219),
   url(https://images.unsplash.com/photo-1448067686092-1f4f2070baae?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHBvcnRmb2xpbyUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid #fff;
}

.bg-home, .bg-portfolio {
  background-image: linear-gradient(
    to right bottom,
     rgba(0, 0, 0, 0.944), #001219),
   url(https://media.istockphoto.com/id/1472928769/photo/white-blank-horizontal-cards-lie-on-the-cement-floor.webp?b=1&s=170667a&w=0&k=20&c=fT3TFdk-e2xfAXOf73VXu2UYO5_iUMNQ6pJY3cSBBhY=);
  background-size: cover;
  background-position: top;
}

/* About background image */
.bg-about{
  background-image: linear-gradient(
    to left top,
     rgba(128, 128, 128, 0.6), #fff),
     url(https://images.unsplash.com/photo-1594734415578-00fc9540929b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTA4fHxiYWNrZ3JvdW5kJTIwaW1hZ2UlMjBmb3IlMjBwb3J0Zm9saW98ZW58MHx8MHx8fDA%3D);
     background-position: center;
     background-size: cover;
     font-style: italic;
}

/* Contact background image */
.bg-contact {
  background-image: linear-gradient(
    to right bottom,
     rgba(0, 0, 0, 0.9), #001219),
   url(https://media.istockphoto.com/id/1392732820/photo/usa-in-a-row-pattern-spotted-particle.jpg?s=612x612&w=0&k=20&c=oesdESfUFuj_nPQWFA9TSzviR0KgS1T_oev251LUb58=);
  background-size: cover;
  background-position: center;
  margin-top: 30px;
  border-top-left-radius: 80px;
  border-top: 1px solid rgba(128, 128, 128, 0.6);
}

/* Styling for different categories with background color, padding, and border-radius */
.frontend,
.designer,
.professional {
  background-color: #f3722c;
  padding: 20px;
  border-radius: 0.4rem;
  max-width: 350px;
  min-width: 300px;
  min-height: 350px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

/* Hover styles for different categories */
.frontend:hover,
.designer:hover,
.professional:hover {
  transform: scale(0.95);
  box-shadow: 0 4px 6px -1px beige;
}

/* Styling for the icon */
.icon {
  border-radius: 50%;
  width: 25%;
  margin-bottom: 15px;
  margin: 0 auto;
}

/* Centering text horizontally */
.h-center {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #f8f9fad2;
  animation: fadeIn 1s ease-in-out forwards;
}

/* Styling for list items in different sections */
.languages li,
.design li,
.prof li {
  color: #f8f9fad2;
  border: 2px solid white;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 7px;
  margin-inline: 5px;
}
