/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font styling for the entire HTML document */
@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }
}

/* Background clip text styling */
.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

/* Background styles for different sections */
.bg-nav,
.bg-home,
.bg-about,
.bg-portfolio,
.bg-contact,
.bg-tools {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-nav {
  background: #001219;
}

/* Home background image */
.bg-home {
  background-image: url(https://img.freepik.com/free-vector/black-geometric-memphis-social-banner_53876-116843.jpg)
}

/* About background image */
.bg-about {
  background-image: url(https://media.istockphoto.com/id/1456634031/photo/4k-technologic-background-white.webp?b=1&s=170667a&w=0&k=20&c=wMHq7UQGnZQnKubV_4cLqdGTya79kZFvuDvgZ1rUznY=);
}

/* Portfolio background image */
.bg-portfolio {
  background-image: url(https://media.istockphoto.com/id/1354045696/photo/white-background-abstract.jpg?s=612x612&w=0&k=20&c=VMcLbK4W0PRGTBltpsWMxB69X030Y_psQ_nuUj4rPBw=);
}

/* Tools background image */
.bg-tools {
  background-image: url(./assets/experience/bg-tools.jpg);
}

/* Contact background image */
.bg-contact {
  background-image: url(https://media.istockphoto.com/id/1294603953/vector/abstract-black-stripes-diagonal-background.jpg?s=612x612&w=0&k=20&c=nQZHTk-o97cNVqWnUe8BJg0A5jQG0tqylquzbt9YtcQ=);
}

/* Styling for different categories with background color, padding, and border-radius */
.frontend,
.designer,
.professional {
  background-color: #001219;
  padding: 20px;
  border-radius: 0.4rem;
  max-width: 350px;
  min-width: 300px;
  min-height: 350px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

/* Hover styles for different categories */
.frontend:hover,
.designer:hover,
.professional:hover {
  transform: scale(0.95);
  box-shadow: 0 4px 6px -1px beige;
}

/* Styling for the icon */
.icon {
  border-radius: 50%;
  width: 25%;
  margin-bottom: 15px;
  margin: 0 auto;
}

/* Centering text horizontally */
.h-center {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #f8f9fad2;
  animation: fadeIn 1s ease-in-out forwards;
}

/* Styling for list items in different sections */
.languages li,
.design li,
.prof li {
  color: #f8f9fad2;
  border: 2px solid white;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 7px;
  margin-inline: 5px;
}
